<template>
  <div class="home-page-content">
    <div class="home-page-content-item">
      <h1>Osiris Mail</h1>
      The e-mail nobody asked for!
    </div>
    <div class="home-page-content-item">
      <h1>Fast, Reliable and Secure</h1>
      Thats what our client isn't!
    </div>
    <div class="home-page-content-item">
      <h1>Lots of other reasons not to choose us</h1>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

@Component<HomePage>({})
export default class HomePage extends Vue {}
</script>

<style lang="scss" scoped>
.home-page-content-item {
  background-color: var(--background2);
  border-bottom: 1px solid var(--shapes);
  text-align: center;
  padding: 2% 0;
}
</style>
