<template>
  <div>
    <home-top-bar />
    <registration-form />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import HomeTopBar from "@components/application/TopBar.vue";
import RegistrationForm from "@components/authentication/registration/RegistrationForm.vue";

@Component<RegistrationPage>({
  components: { HomeTopBar, RegistrationForm }
})
export default class RegistrationPage extends Vue {}
</script>
