<template>
  <div>
    <div class="floating-form-color-background"></div>
    <div
      id="floating-form-blur-background"
      class="floating-form-blur-background"
    ></div>
    <div id="floating-form" class="floating-form">
      <div class="header">
        Add account
        <div style="float:right" @click="close">
          <i class="fas fa-times-circle close"></i>
        </div>
      </div>
      <div class="add-account-form">
        <p>
          <span>Email adress: </span>
          <input v-model="email" type="text" />
        </p>
        <p>
          <span>Password: </span>
          <input v-model="password" type="password" />
        </p>
        <span class="dropdown-button" @click="dropdown">
          Manual setup
          <i class="fas fa-chevron-down"></i>
        </span>
        <div id="dropdown-content" class="dropdown-content">
          <p>
            <span>Login: </span>
            <input v-model="login" type="text" />
          </p>
          <p>
            <span>IMAP Server: </span>
            <input v-model="imap" type="text" />
          </p>
          <p>
            <span>IMAP Port: </span>
            <input v-model="imapPort" type="text" />
          </p>
          <p>
            <span>SMTP Server: </span>
            <input v-model="smtp" type="text" />
          </p>
          <p>
            <span>SMTP Port: </span>
            <input v-model="smtpPort" type="text" />
          </p>
        </div>
        <div class="error-message">
          {{ errorMessage }}
        </div>
        <p class="buttons">
          <button @click="accept">Accept</button>
          <button @click="close">Cancel</button>
        </p>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import Http from "@wrappers/http.wrapper";
import ApiEndpoint from "@enums/api_endpoint.enum";

@Component<EmailContainer>({})
export default class EmailContainer extends Vue {
  private email: string = "";
  private imap: string = "";
  private imapPort: string = "";
  private smtp: string = "";
  private smtpPort: string = "";
  private login: string = "";
  private password: string = "";
  private errorMessage: string = "";
  private close() {
    this.$emit("input", "");
  }
  private accept() {
    if (
      (document.getElementById("dropdown-content") as HTMLDivElement).style
        .display == "block"
    ) {
      Http.post(ApiEndpoint.addEmail, {
        emailAddress: this.email,
        imapServer: this.imap,
        imapPort: +this.imapPort,
        imapSSL: true,
        smtpServer: this.smtp,
        smtpPort: +this.smtpPort,
        smtpSSL: true,
        login: this.login,
        password: this.password
      })
        .then(response => {
          this.close();
        })
        .catch(error => {
          this.errorMessage = error.response.data.message;
        });
    } else {
      Http.post(ApiEndpoint.addEmail, {
        emailAddress: this.email,
        password: this.password
      })
        .then(response => {
          this.close();
        })
        .catch(error => {
          this.errorMessage = error.response.data.message;
        });
    }
  }
  private dropdown() {
    let content = document.getElementById("dropdown-content") as HTMLDivElement;
    let form = document.getElementById("floating-form") as HTMLDivElement;
    let formBlur = document.getElementById(
      "floating-form-blur-background"
    ) as HTMLDivElement;
    if (content.style.display == "block") {
      content.style.display = "none";
      form.style.maxHeight = "225px";
      formBlur.style.maxHeight = "225px";
    } else {
      content.style.display = "block";
      form.style.maxHeight = "400px";
      formBlur.style.maxHeight = "400px";
    }
  }
}
</script>

<style lang="scss" scoped>
span {
  margin-left: 15%;
}

input {
  width: 50%;
  margin-right: 12%;
  float: right;
}

button {
  margin: 0 20px;
}
.close {
  float: right;
  cursor: pointer;
}

.close:hover {
  border-radius: 50%;
  box-shadow: 0 0 4px 1px var(--accent);
}

.header {
  font-size: 20px;
  background-color: var(--background8);
  padding: 8px;
  border-radius: 20px 20px 0 0;
  text-align: center;
}

.floating-form-blur-background {
  background: url("https://drive.google.com/uc?export=view&id=13XCsHMzthS5XUvzcSsl3sSXKtX5P7fYT")
    center center;
  width: 80%;
  min-width: 500px;
  max-width: 700px;
  max-height: 225px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 20px;
  margin: auto;
}

.floating-form-color-background {
  background-color: var(--background6);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.floating-form {
  background: var(--background4);
  width: 80%;
  min-width: 500px;
  max-width: 700px;
  max-height: 225px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 20px;
  margin: auto;
  text-align: left;
  border: 1px solid var(--accent);
}

.buttons {
  margin-top: 15px;
  text-align: center;
}

.dropdown-button {
  cursor: pointer;
  user-select: none;
  font-size: 0.8em;
}

.dropdown-content {
  display: none;
}

.error-message {
  background-color: red;
  text-align: center;
}
</style>
