<template>
  <div class="pageMessage">
    <h1>Redirecting...</h1>
  </div>
</template>

<script lang="ts">
import ApiEndpoint from "@enums/api_endpoint.enum";
import { Component, Vue, Prop } from "vue-property-decorator";
import LoginCallback from "@components/authentication/login/LoginCallback.vue";
import QueryString from "query-string";
import Http from "@wrappers/http.wrapper";

@Component<BaseLoginCallbackPage>({})
export default class BaseLoginCallbackPage extends Vue {
  @Prop({ type: String }) serviceUrl!: ApiEndpoint;

  mounted() {
    const query = QueryString.parse(window.location.search);

    if (query.code) {
      // get login code to backend
      Http.get(this.serviceUrl, {
        params: {
          code: query.code
        }
      }).then(response => {
        this.$router.push({ name: "client" });
      });
    } else {
      throw Error("Url does not contain 'code' parameter.");
    }
  }
}
</script>
