<template>
  <base-login-callback-page :service-url="serviceUrl" />
</template>

<script lang="ts">
import ApiEndpoint from "@enums/api_endpoint.enum";
import BaseLoginCallbackPage from "@views/authentication/login/callback/BaseLoginCallbackPage.vue";
import { Component, Vue } from "vue-property-decorator";

@Component<GithubLoginCallbackPage>({
  components: { BaseLoginCallbackPage }
})
export default class GithubLoginCallbackPage extends Vue {
  public serviceUrl: ApiEndpoint = ApiEndpoint.githubCallback;
}
</script>
