<template>
  <base-login-callback-page :service-url="serviceUrl" />
</template>

<script lang="ts">
import ApiEndpoint from "@enums/api_endpoint.enum";
import BaseLoginCallbackPage from "@views/authentication/login/callback/BaseLoginCallbackPage.vue";
import { Component, Vue } from "vue-property-decorator";

@Component<GitlabLoginCallbackPage>({
  components: { BaseLoginCallbackPage }
})
export default class GitlabLoginCallbackPage extends Vue {
  public serviceUrl: ApiEndpoint = ApiEndpoint.gitlabCallback;
}
</script>
