<template>
  <svg
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    width="20"
    height="20"
    viewBox="0 0 512 512"
  >
    <path
      d="M377.139 259.492c0 66.637-54.020 120.658-120.658 120.658-66.637 0-120.658-54.021-120.658-120.658 0-66.637 54.020-120.658 120.658-120.658 66.637 0 120.658 54.020 120.658 120.658z"
      fill="#000000"
    />
    <path d="M228.352 100.669l30.27-77.906 25.979 77.906z" fill="#000000" />
    <path d="M228.352 411.341l30.27 77.895 25.979-77.895z" fill="#000000" />
    <path d="M100.659 287.601l-77.895-30.29 77.895-25.959z" fill="#000000" />
    <path d="M411.361 287.601l77.875-30.29-77.875-25.959z" fill="#000000" />
    <path d="M126.597 165.703l-33.659-76.472 73.442 36.7z" fill="#000000" />
    <path d="M346.276 385.423l76.524 33.639-36.741-73.442z" fill="#000000" />
    <path d="M168.499 388.199l-76.493 33.639 36.72-73.442z" fill="#000000" />
    <path d="M388.199 168.499l33.618-76.513-73.4 36.751z" fill="#000000" />
  </svg>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

@Component<SunIcon>({})
export default class SunIcon extends Vue {}
</script>
