<template>
  <div class="login-callback" />
</template>

<script lang="ts">
import ApiEndpoint from "@enums/api_endpoint.enum";
import { Component, Prop, Vue } from "vue-property-decorator";
import Http from "@wrappers/http.wrapper";
import QueryString from "query-string";

@Component<LoginCallback>({})
export default class LoginCallback extends Vue {
  @Prop({ type: String }) serviceUrl!: ApiEndpoint;

  mounted() {
    // extract code from url
    const query = QueryString.parse(window.location.search);

    if (query.code) {
      // get login code to backend
      Http.get(this.serviceUrl, {
        params: {
          code: query.code
        }
      }).then(response => {
        window.open("/client", "_self");
      });
    } else {
      throw Error(`Url does not containt 'code' parameter.`);
    }
  }
}
</script>
