<template>
  <div class="authenticationForm">
    <p>
      Username:
    </p>
    <p>
      <input v-model="username" type="text" data-cy="username" />
    </p>
    <p>
      Password:
    </p>
    <p>
      <input v-model="password" type="password" data-cy="password" />
    </p>
    <button data-cy="login-button" @click="OnClick">Login</button>
    <p class="errorMessage">{{ errorMessage }}</p>
    <google-login-button />
    <gitlab-login-button />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import Http from "@wrappers/http.wrapper";
import ActiveDirectoryLoginButton from "@components/authentication/buttons/ActiveDirectoryLoginButton.vue";
import GoogleLoginButton from "@components/authentication/buttons/GoogleLoginButton.vue";
import GithubLoginButton from "@components/authentication/buttons/GithubLoginButton.vue";
import GitlabLoginButton from "@components/authentication/buttons/GitlabLoginButton.vue";
import ApiEndpoint from "@enums/api_endpoint.enum";

@Component<LoginForm>({
  components: {
    ActiveDirectoryLoginButton,
    GoogleLoginButton,
    GithubLoginButton,
    GitlabLoginButton
  }
})
export default class LoginForm extends Vue {
  private username: string = "";
  private password: string = "";
  private errorMessage: string = "";

  OnClick() {
    Http.post(
      ApiEndpoint.loginPassword,
      {
        username: this.username,
        password: this.password
      },
      {
        headers: {
          "Content-type": "application/json"
        }
      }
    )
      .then(response => {
        if (response.status === 200) {
          this.errorMessage = "User logged in";
          window.open("/client", "_self");
        }
      })
      .catch(e => (this.errorMessage = e.response.data.message));
  }
}
</script>

<style lang="scss" scoped>
.authenticationForm {
  background: var(--background8);
  width: 80%;
  min-width: 225px;
  max-width: 300px;
  max-height: 300px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 20px;
  margin: auto;
  text-align: center;
  border: 2px solid var(--accent);
}
</style>
