<template>
  <div class="client-content">
    <account-picker class="account-picker" @openDialog="reEmitDialog" />
    <email-container class="email-container" />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import AccountPicker from "@components/client/app_controls/AccountPicker.vue";
import EmailContainer from "@components/client/email_client/EmailContainer.vue";

@Component<ClientContent>({
  components: { AccountPicker, EmailContainer }
})
export default class ClientContent extends Vue {
  mounted() {
    if (!this.$cookies.isKey("Token")) {
      this.$router.push({
        name: "login"
      });
    }
  }
  private reEmitDialog() {
    this.$emit("input", "add-email");
  }
}
</script>

<style lang="scss" scoped>
.client-content {
  height: calc(100vh - 40px);
  display: grid;
  grid-template-columns:
    minmax(50px, 75px)
    minmax(200px, auto);
  grid-template-areas: "acp eml";
}

.account-picker {
  grid-area: acp;
  background-color: var(--background4);
}

.email-container {
  grid-area: eml;
  background-color: var(--background6);
  border-left: 1px solid var(--accent);
}
</style>
