<template>
  <div class="user-settings">
    <div class="item">Icon: <img src="" alt="image" /></div>
    <div class="item">Username: <input v-model="username" type="text" /></div>
    <div class="item">E-mail: <input v-model="email" type="text" /></div>
    <div class="item">
      New Password: <input type="text" :value="password" />
    </div>
    <p class="buttons">
      <button @click="save">Save</button>
      <button @click="close">Cancel</button>
    </p>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import Http from "@wrappers/http.wrapper";
import ApiEndpoint from "@enums/api_endpoint.enum";
import Axios from "@modules/axios.instance";
import { AxiosRequestConfig } from "axios";

@Component<UserSettings>({})
export default class UserSettings extends Vue {
  mounted() {
    this.setInfo();
  }

  private username: string = "";
  private email: string = "";
  private password: string = "";
  private setInfo() {
    Http.get(ApiEndpoint.user).then(response => {
      (this.username = response.data.common_name),
        (this.email = response.data.email);
    });
  }
  private save() {
    Axios.patch(ApiEndpoint.changeUsername, {
      new_common_name: this.username
    });
    window.location.reload();
  }
  private close() {}
}
</script>

<style lang="scss" scoped>
.user-settings {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background6);
}

.item {
  text-align: center;
  padding: 2px 0;
  border-bottom: 1px solid var(--accent);
  width: 85%;

  padding: 5px 4%;
  display: flex;
  justify-content: space-between;
}

.item:hover {
  background-color: var(--background4);
  box-shadow: 0 0 4px 1px var(--accent);
}

button {
  margin: 0 20px;
}
</style>
