<template>
  <div class="client-page">
    <component
      :is="contentComponent"
      v-model="dialogComponent"
      class="content"
    ></component>
    <component
      :is="dialogComponent"
      v-model="dialogComponent"
      style="z-index:1;"
    ></component>
    <top-bar v-model="contentComponent" class="top-bar" />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import TopBar from "@components/application/TopBar.vue";
import AddEmail from "@components/client/dialogs/AddEmail.vue";
import EmailClient from "@components/client/EmailClient.vue";
import UserSettings from "@components/client/UserSettings.vue";

@Component<ClientPage>({
  components: { TopBar, AddEmail, EmailClient, UserSettings }
})
export default class ClientPage extends Vue {
  private dialogComponent: string = "";
  private contentComponent: string = "email-client";
  mounted() {
    if (!this.$cookies.isKey("Token")) {
      this.$router.push({
        name: "login"
      });
    }
  }
}
</script>

<style lang="scss" scoped>
.client-page {
  height: 100vh;
  display: grid;
  grid-template-rows: 40px auto;
  grid-template-areas: "tbr" "cnt";
}

.top-bar {
  grid-area: tbr;
}

.content {
  grid-area: cnt;
}
</style>
