<template>
  <div class="default home-page">
    <HomeTopBar />
    <HomePageContent />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import HomeTopBar from "@components/application/TopBar.vue";
import HomePageContent from "@components/homepage/HomePageContent.vue";

@Component<HomePage>({
  components: { HomeTopBar, HomePageContent }
})
export default class HomePage extends Vue {}
</script>
