<template>
  <div class="email-folders">
    <button class="new-email" @click="openNewEmail">New email</button>
    <div class="item" @click="openList">
      <i class="fas fa-envelope-open"></i> Inbox
    </div>
    <div class="item"><i class="fas fa-star"></i> Stared</div>
    <div class="item"><i class="fas fa-envelope-open-text"></i> Drafts</div>
    <div class="item"><i class="fas fa-envelope"></i> Outbox</div>
    <div class="item"><i class="fas fa-trash"></i> Trash</div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import Http from "@wrappers/http.wrapper";
import ApiEndpoint from "@enums/api_endpoint.enum";

@Component<EmailFolders>({})
export default class EmailFolders extends Vue {
  mounted() {}
  private openList() {
    this.$emit("input", "email-list");
  }
  private openNewEmail() {
    this.$emit("input", "email-edit");
  }
}
</script>

<style lang="scss" scoped>
.email-folders {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}

.item {
  text-align: center;
  cursor: pointer;
  padding: 2px 0;
  border-top: 1px solid var(--accent);
  width: 85%;
  user-select: none;
}

.item:hover {
  background-color: var(--background4);
  box-shadow: 0 0 4px 1px var(--accent);
}

.new-email {
  margin: 4px 0;
  border-width: 2px;
}
</style>
