<template>
  <div class="email-container">
    <email-folders v-model="currentComponent" class="email-folders" />
    <div class="email-content">
      <component :is="currentComponent" v-model="currentComponent"></component>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import EmailEdit from "@components/client/email_client/email_content/EmailEdit.vue";
import EmailList from "@components/client/email_client/email_content/EmailList.vue";
import EmailRead from "@components/client/email_client/email_content/EmailRead.vue";
import EmailFolders from "@components/client/email_client/EmailFolders.vue";

@Component<EmailContainer>({
  components: { EmailEdit, EmailList, EmailRead, EmailFolders },
  data() {
    return {
      currentComponent: "email-list"
    };
  }
})
export default class EmailContainer extends Vue {}
</script>

<style lang="scss" scoped>
.email-container {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: nowrap;
}

.email-folders {
  flex: 1;
  border-right: 1px solid var(--accent);
  height: calc(100vh - 40px);
  max-width: 120px;
}

.email-content {
  flex: 6;
}
</style>
