<template>
  <div id="svg-theme-icon">
    <a
      v-for="icon in icons"
      :id="icon.id"
      :key="icon.id"
      :class="icon.class"
      :style="{ display: icon.class === currentIcon ? 'inline' : 'none' }"
    ></a>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop, Watch } from "vue-property-decorator";
import { VueConstructor } from "vue";
import { SvgIconTheme } from "@interfaces/svg_icon_theme.interface";
import ThemeMananger from "@modules/theme_manager.singleton";
import themes from "@styles/themes";

const themeIdPrefix: string = "app-theme-";

@Component<SvgIcon>({})
export default class SvgIcon extends Vue {
  @Prop({ type: String, default: ThemeMananger.icon })
  private currentIcon!: string;
  private icons: Array<SvgIconTheme> = [];

  mounted() {
    let i: number = 1;

    themes.forEach((key, val) => {
      this.icons.push({ id: `${themeIdPrefix}${i++}`, class: val.icon });
    });
  }

  @Watch("currentIcon", { immediate: true })
  swapIcon(val: string, oldVal: string) {
    this.changeVisibility(val, "inline");
    this.changeVisibility(oldVal, "none");
  }

  private changeVisibility(classValue: string, displayValue: string) {
    const icon = this.icons.find(element => {
      return element.class === classValue;
    });

    if (icon) {
      const tag = document.getElementById(icon.id);

      if (tag) {
        tag.style.display = displayValue;
      }
    }
  }
}
</script>
