<template>
  <div class="top-bar">
    <div class="icon" data-cy="logo-click" @click="openHome">
      <i class="fas fa-feather-alt"></i>
    </div>
    <div class="item">
      <component
        :is="currentComponent"
        @openSettings="reEmitSettings"
        @openClient="reEmitClient"
      ></component>
      <div class="theme-switcher">
        <div id="style-icon" @click="swapTheme()">
          <svg-icon :current-icon="icon" />
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import TopBarAuthentication from "@components/application/TopBarAuthentication.vue";
import TopBarProfile from "@components/application/TopBarProfile.vue";
import ThemeManager from "@modules/theme_manager.singleton";
import SvgIcon from "@components/application/SvgIcon.vue";
import { Theme } from "@enums/theme.enum";
import Http from "@wrappers/http.wrapper";
import ApiEndpoint from "@enums/api_endpoint.enum";

const swapableThemes = [Theme.light, Theme.dark];

@Component<TopBar>({
  components: { TopBarAuthentication, TopBarProfile, SvgIcon }
})
export default class TopBar extends Vue {
  private currentComponent: string = "top-bar-authentication";

  private icon: string = ThemeManager.icon;

  mounted() {
    this.checkCookie();
    this.checkTheme();
  }

  private openHome() {
    this.$router.push({ name: "home" });
  }

  private checkCookie() {
    if (!this.$cookies.isKey("Token")) return;
    Http.get(ApiEndpoint.user)
      .then(response => {
        if (response.status == 200) this.currentComponent = "top-bar-profile";
      })
      .catch(error => {
        if (error.response.status != 200) {
          this.$cookies.remove("Token");
        }
      });
  }

  private reEmitSettings() {
    this.$emit("input", "user-settings");
  }

  private reEmitClient() {
    this.$emit("input", "email-client");
  }

  private checkTheme() {
    if (this.$cookies.isKey("Theme")) {
      const themeName = this.$cookies.get("Theme");
      ThemeManager.updateTheme(themeName);
      this.icon = ThemeManager.icon;
    } else {
      if (!this.$cookies.get("token")) {
        this.$cookies.set("Theme", ThemeManager.themeName);
        ThemeManager.updateTheme(this.$cookies.get("Theme"));
        this.icon = ThemeManager.icon;
        return;
      }
      Http.get(ApiEndpoint.getSettings, {
        params: {
          key: "Theme"
        }
      })
        .then(response => {
          console.log(response.data);
          this.$cookies.set("Theme", response.data);
          ThemeManager.updateTheme(response.data);
          this.icon = ThemeManager.icon;
        })
        .catch(error => {
          if (error.response.status != 200) {
            Http.post(ApiEndpoint.setSettings, {
              key: "Theme",
              value: ThemeManager.themeName
            }).then(response => {
              this.$cookies.set("Theme", ThemeManager.themeName);
              ThemeManager.updateTheme(response.data);
              this.icon = ThemeManager.icon;
            });
          }
        });
    }
  }

  private swapTheme() {
    const currentTheme = this.$cookies.get("Theme");
    const nextTheme =
      swapableThemes[
        (swapableThemes.indexOf(currentTheme) + 1) % swapableThemes.length
      ];

    ThemeManager.updateTheme(nextTheme);
    this.$cookies.set("Theme", nextTheme);
    this.icon = ThemeManager.icon;
    if (this.$cookies.get("token")) {
      Http.post(ApiEndpoint.setSettings, {
        key: "Theme",
        value: nextTheme
      });
    }
  }
}
</script>

<style lang="scss" scoped>
.top-bar {
  background-color: var(--background4);
  border-bottom: 1px solid var(--accent);
  height: 40px;
  display: flex;
  justify-content: space-between;
}

.theme-switcher {
  float: right;
  cursor: pointer;
}

#style-icon {
  padding: 10px 12px;
  user-select: none;
}

.theme-switcher:hover {
  background-color: var(--background8);
}

.icon {
  cursor: pointer;
  font-size: 1.5em;
  padding: 8px 14px;
}

.icon:hover {
  background-color: var(--background8);
}
</style>
