<template>
  <div class="dropdown">
    <img src="" :alt="username" class="dropdown-icon" />
    <div class="dropdown-content">
      <span id="client" @click="openClient">
        Client
      </span>
      <span id="settings" @click="openSettings">
        Settings
      </span>
      <span @click="logOut">
        Log out
      </span>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import Http from "@wrappers/http.wrapper";
import ApiEndpoint from "@enums/api_endpoint.enum";

@Component<TopBarProfile>({})
export default class TopBarProfile extends Vue {
  mounted() {
    this.setUsername();
    this.setButtons();
  }

  private username: string = "user";

  private logOut() {
    this.$cookies.remove("Token");
    window.open("/", "_self");
  }
  private openClient() {
    if (window.location.pathname == "/client") {
      this.$emit("openClient");
    } else {
      this.$router.push({ name: "client" });
    }
    console.log("settign styles");
    (document.getElementById("settings") as HTMLSpanElement).style.display =
      "block";
    (document.getElementById("client") as HTMLSpanElement).style.display =
      "none";
  }
  private openSettings() {
    if (window.location.pathname == "/client") {
      this.$emit("openSettings");
    } else {
      this.$router.push({ name: "client" });
      this.$emit("openSettings");
    }
    (document.getElementById("settings") as HTMLSpanElement).style.display =
      "none";
    (document.getElementById("client") as HTMLSpanElement).style.display =
      "block";
  }
  private setUsername() {
    Http.get(ApiEndpoint.user).then(response => {
      this.username = response.data.common_name;
    });
  }
  private setButtons() {
    if (window.location.pathname == "/client") {
      (document.getElementById("client") as HTMLSpanElement).style.display =
        "none";
      (document.getElementById("settings") as HTMLSpanElement).style.display =
        "block";
    } else {
      (document.getElementById("settings") as HTMLSpanElement).style.display =
        "none";
    }
  }
}
</script>

<style lang="scss" scoped>
span {
  padding: 10px 8px;
}

span:hover {
  box-shadow: 0 0 6px 2px var(--accent);
  cursor: pointer;
}

.dropdown {
  float: right;
}

.dropdown:hover .dropdown-content {
  display: flex;
}

.dropdown-icon {
  padding: 10px 16px;
}

.dropdown-content {
  display: none;
  flex-direction: column;
  z-index: 1;
  background-color: var(--background);
  user-select: none;
}
</style>
