<template>
  <div class="authentication">
    <span data-cy="login" @click="openLogin">
      Log in
    </span>
    <span @click="openRegistration">
      Register
    </span>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

@Component<TopBarAuthentication>({})
export default class TopBarAuthentication extends Vue {
  private openLogin() {
    this.$router.push({ name: "login" });
  }
  private openRegistration() {
    this.$router.push({ name: "registration" });
  }
}
</script>

<style lang="scss" scoped>
span {
  padding: 10px 8px;
  float: right;
  cursor: pointer;
}

span:hover {
  background-color: var(--background8);
}

.authentication {
  float: right;
}
</style>
