<template>
  <div id="login">
    <home-top-bar />
    <login-form class="login-form" />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import HomeTopBar from "@components/application/TopBar.vue";
import LoginForm from "@components/authentication/login/LoginForm.vue";

@Component<LoginPage>({
  components: { HomeTopBar, LoginForm }
})
export default class LoginPage extends Vue {}
</script>

<style lang="scss" scoped>
.login-form {
  background-color: var(--background4);
}
</style>
