<template>
  <login-button
    :service-url="undefined"
    service-name="windows"
    display-message="Sign in via"
    display-name="LDAP"
  />
</template>

<script lang="ts">
import ApiEndpoint from "@enums/api_endpoint.enum";
import { Component, Vue } from "vue-property-decorator";
import LoginButton from "@components/authentication/buttons/LoginButton.vue";

@Component<ActiveDirectoryLoginButton>({
  components: { LoginButton }
})
export default class ActiveDirectoryLoginButton extends Vue {}
</script>

<style scoped lang="scss">
/deep/ .btn-windows {
  background-color: #1087dd88;
}

/deep/ .btn-windows:hover {
  background-color: #0c5b94;
}
</style>
