<template>
  <login-button
    :service-url="serviceUrl"
    service-name="github"
    display-name="Github"
  />
</template>

<script lang="ts">
import ApiEndpoint from "@enums/api_endpoint.enum";
import { Component, Vue } from "vue-property-decorator";
import LoginButton from "@components/authentication/buttons/LoginButton.vue";

@Component<GithubLoginButton>({
  components: { LoginButton }
})
export default class GithubLoginButton extends Vue {
  private serviceUrl: ApiEndpoint = ApiEndpoint.githubUrl;
}
</script>

<style scoped lang="scss">
/deep/ .btn-github {
  background-color: #4448;
}

/deep/ .btn-github:hover {
  background-color: #333;
}
</style>
