<template>
  <login-button
    :service-url="serviceUrl"
    service-name="gitlab"
    display-name="Gitlab"
  />
</template>

<script lang="ts">
import ApiEndpoint from "@enums/api_endpoint.enum";
import { Component, Vue } from "vue-property-decorator";
import LoginButton from "@components/authentication/buttons/LoginButton.vue";

@Component<GitlabLoginButton>({
  components: { LoginButton }
})
export default class GitlabLoginButton extends Vue {
  private serviceUrl: ApiEndpoint = ApiEndpoint.gitlabUrl;
}
</script>

<style scoped lang="scss">
/deep/ .btn-gitlab {
  background-color: #720e9e88;
}

/deep/ .btn-gitlab:hover {
  background-color: #570b77;
}
</style>
