<template>
  <login-button
    :service-url="serviceUrl"
    service-name="google"
    display-name="Google"
  />
</template>

<script lang="ts">
import ApiEndpoint from "@enums/api_endpoint.enum";
import { Component, Vue } from "vue-property-decorator";
import LoginButton from "@components/authentication/buttons/LoginButton.vue";

@Component<GoogleLoginButton>({
  components: { LoginButton }
})
export default class GoogleLoginButton extends Vue {
  private serviceUrl: ApiEndpoint = ApiEndpoint.googleUrl;
}
</script>

<style scoped lang="scss">
/deep/ .btn-google {
  background-color: #dd4b3988;
}

/deep/ .btn-google:hover {
  background-color: #8f2f23;
}
</style>
