<template>
  <div>
    <a :class="`btn-social btn-${serviceName}`" @click="login()">
      <i :class="`fab fa-${serviceName}`"></i>
      {{ displayMessage }} {{ displayName }}
    </a>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import Http from "@wrappers/http.wrapper";
import ApiEndpoint from "@enums/api_endpoint.enum";

@Component<LoginButton>({})
export default class LoginButton extends Vue {
  @Prop({ type: String }) serviceName!: string;
  @Prop({ default: "Sign in with", type: String }) displayMessage!: string;
  @Prop({ type: String }) displayName!: string;
  @Prop({ type: String }) private serviceUrl!: ApiEndpoint;
  private loginUrl!: string;

  // lifecycle hook
  mounted() {
    if (!this.fetchUrl()) {
      // TODO disable button
    }
  }

  fetchUrl(): boolean {
    Http.get(this.serviceUrl).then(response => {
      const data = response.data;

      if (response.status === 200 && data.url !== undefined) {
        this.loginUrl = data.url;
        return true;
      }
    });

    return false;
  }

  login() {
    window.location.href = this.loginUrl;
  }
}
</script>

<style lang="scss" scoped>
.btn-social {
  padding: 6px 6px 6px 12px;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  display: block;
  user-select: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
</style>
