<template>
  <div class="registration-form">
    <p>Username:</p>
    <input v-model="username" type="text" />
    <p>E-mail:</p>
    <input v-model="email" type="text" />
    <p>Password:</p>
    <input v-model="password" type="password" />
    <p>Repeat password:</p>
    <input v-model="passwordCheck" type="password" />
    <p>
      <button @click="OnClick">Registration</button>
    </p>
    <p class="errorMessage">{{ errorMessage }}</p>
  </div>
</template>

<script lang="ts">
import ApiEndpoint from "@enums/api_endpoint.enum";
import { Component, Vue } from "vue-property-decorator";
import Http from "@wrappers/http.wrapper";

@Component<RegistrationForm>({})
export default class RegistrationForm extends Vue {
  private username: string = "";
  private email: string = "";
  private password: string = "";
  private passwordCheck: string = "";
  private errorMessage: string = "";

  OnClick() {
    if (this.username.length < 4) {
      this.errorMessage = "Username must be at least 4 characters long";
      return;
    } else if (this.password.length < 8) {
      this.errorMessage = "Password must be at least 8 characters long";
      return;
    } else if (this.password !== this.passwordCheck) {
      this.errorMessage = "Passwords do not match";
      return;
    } else {
      this.errorMessage = "";
    }

    Http.post(ApiEndpoint.registration, {
      username: this.username,
      email: this.email,
      password: this.password
    })
      .then(response => {
        if (response.status === 200) {
          this.errorMessage = "User created";
          window.open("/client", "_self");
        }
      })
      .catch(e => (this.errorMessage = e.response.data.message));
  }
}
</script>

<style lang="scss" scoped>
.registration-form {
  background: var(--background4);
  width: 80%;
  min-width: 225px;
  max-width: 300px;
  max-height: 400px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 20px;
  margin: auto;
  text-align: center;
  border: 2px solid var(--accent);
}
</style>
