<template>
  <div class="email-edit">
    <div class="header">
      <div class="item">
        <span class="label">Sender:</span>
        <input v-model="sender" type="text" />
      </div>
      <div class="item">
        <span class="label">Recipient: </span>
        <input
          v-model="recipient"
          type="text"
          placeholder="Please split with semicolon ';'"
        />
      </div>
      <div class="item">
        <span class="label">Subject: </span>
        <input v-model="subject" type="text" />
      </div>
      <div class="controls">
        <button class="control" @click="makeBold">
          <i class="fas fa-bold"></i>
        </button>
        <button class="control" @click="makeItalic">
          <i class="fas fa-italic"></i>
        </button>
        <button class="control" @click="makeUnderline">
          <i class="fas fa-underline"></i>
        </button>
        <button class="control" @click="makeStrikeline">
          <i class="fas fa-strikethrough"></i>
        </button>
      </div>
    </div>
    <div class="content">
      <div ref="body" class="body" contenteditable></div>
    </div>
    <div class="buttons">
      <button @click="sendEmail">Send</button>
      <button>Cancel</button>
    </div>
    {{ errorMessage }}
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import Http from "@wrappers/http.wrapper";
import ApiEndpoint from "@enums/api_endpoint.enum";

@Component<EmailEdit>({})
export default class EmailEdit extends Vue {
  private sender: string = "";
  private recipient: string = "";
  private subject: string = "";
  private body: string = "";
  private attachments: string[] = [];
  private errorMessage: string = "";

  private makeBold() {
    window
      .getSelection()
      .getRangeAt(0)
      .surroundContents(document.createElement("b"));
  }
  private makeItalic() {
    document
      .getSelection()
      .getRangeAt(0)
      .surroundContents(document.createElement("i"));
  }
  private makeUnderline() {
    window
      .getSelection()
      .getRangeAt(0)
      .surroundContents(document.createElement("u"));
  }
  private makeStrikeline() {
    window
      .getSelection()
      .getRangeAt(0)
      .surroundContents(document.createElement("s"));
  }
  private sendEmail() {
    Http.post(ApiEndpoint.sendEmail, {
      sender: this.sender,
      recipients: [this.recipient],
      subject: this.subject,
      body: (this.$refs.body as HTMLDivElement).innerHTML,
      attachments: this.attachments
    }).then(response => {
      this.errorMessage = response.data.status;
    });
  }
}
</script>

<style lang="scss" scoped>
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label {
  color: var(--accent);
  user-select: none;
}

.item {
  text-align: right;
  border-bottom: 1px solid var(--accent);
  width: 85%;
  padding: 5px 4%;
  display: flex;
  justify-content: space-between;
}

.item:hover {
  box-shadow: 0 0 6px 1px var(--accent);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  width: 100%;
  height: calc(100vh - 240px);
}

.body {
  border: 1.5px solid var(--accent);
  border-radius: 10px;
  text-align: left;
  font-size: 1.2em;
  height: 100%;
  width: 90%;
  max-width: 80vw;
  padding: 10px 14px;
  overflow-y: auto;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  background-color: var(--background6);
}

.body:focus {
  outline: none;
  box-shadow: 0 0 4px 0 var(--accent);
}

textarea::-webkit-scrollbar {
  width: 10px;
  background-color: var(--backupBackground);
  border-radius: 0 10px 10px 0;
  cursor: pointer;
}

textarea::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: var(--accent);
  border-radius: 10px;
}

.controls {
  text-align: right;
  width: 85%;
  display: flex;
  justify-content: flex-start;
  margin: 4px 0;
}

.controls button {
  all: unset;
  padding: 5px 10px;
}

.control:hover {
  box-shadow: 0 0 6px 1px var(--accent);
}

button {
  margin: 0 20px;
}

.buttons {
  margin-top: 15px;
  text-align: center;
}

input {
  border: none;
  background-color: transparent;
  border-radius: 0;
  width: 100%;
}

input:hover {
  box-shadow: none;
}

input:focus {
  box-shadow: none;
}
</style>
