<template>
  <div class="email-list">
    <div class="item" @click="openEmail">
      <div class="controls"></div>
      <div class="text">
        <span class="subject">Subject</span>
        <span class="sender">Sender</span>
      </div>
      <div class="time">
        Time
      </div>
    </div>
    <div class="item" @click="openEmail">
      <div class="controls"></div>
      <div class="text">
        <span class="subject">Subject</span>
        <span class="sender">Sender</span>
      </div>
      <div class="time">
        Time
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

@Component<EmailList>({
  methods: {
    openEmail: function() {
      this.$emit("input", "email-read");
    }
  }
})
export default class EmailList extends Vue {}
</script>

<style lang="scss" scoped>
.email-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item {
  text-align: center;
  cursor: pointer;
  padding: 2px 0;
  border-bottom: 1px solid var(--accent);
  width: 85%;

  padding: 5px 4%;
  display: flex;
  justify-content: space-between;
}

.item:hover {
  background-color: var(--background4);
  box-shadow: 0 0 4px 1px var(--accent);
}

.text {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.subject {
  font: bold;
}

.sender {
  color: var(--accent);
}
</style>
