<template>
  <div class="email-read">
    <div class="header">
      <div class="item">
        <span class="label">Sender:</span>
        <span class="sender_text">{{ sender }}</span>
      </div>
      <div class="item">
        <span class="label">Subject: </span>
        <span class="subject_text">{{ subject }}</span>
      </div>
      <div class="item">
        <span class="label">To: </span>
        <span class="to_text">{{ to }}</span>
      </div>
      <div class="item controls">
        <i class="far fa-star fa-fw"></i>
        <i class="far fa-square fa-fw"></i>
        Other controls
      </div>
    </div>
    <div class="content">
      <div class="item message">
        {{ message }}
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import Http from "@wrappers/http.wrapper";
import ApiEndpoint from "@enums/api_endpoint.enum";

@Component<EmailRead>({})
export default class EmailRead extends Vue {
  private sender: string = "";
  private subject: string = "";
  private to: string = "";
  private message: string = "";
  mounted() {
    Http.get(ApiEndpoint.email).then(response => {
      this.sender = response.data.sender.address;
      this.subject = response.data.subject;
      this.to = "Rohlo fix this!";
      this.message = response.data.body;
    });
  }
}
</script>
<style lang="scss" scoped>
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item {
  text-align: right;
  border-bottom: 1px solid var(--accent);
  width: 85%;
  padding: 5px 4%;
  display: flex;
  justify-content: space-between;
}

.controls {
  justify-content: flex-start;
  border: 0;
}

.message {
  border: 1.5px solid var(--accent);
  border-radius: 10px;
  text-align: left;
  justify-content: center;
}
</style>
