<template>
  <div id="app">
    <router-view />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

@Component<App>({})
export default class App extends Vue {
  mounted() {
    let fontawesome = document.createElement("script");
    fontawesome.setAttribute(
      "src",
      "https://use.fontawesome.com/releases/v5.8.2/js/all.js"
    );
    fontawesome.setAttribute(
      "integrity",
      "sha384-DJ25uNYET2XCl5ZF++U8eNxPWqcKohUUBUpKGlNLMchM7q4Wjg2CUpjHLaL8yYPH"
    );
    fontawesome.setAttribute("crossorigin", "anonymous");
    document.head.appendChild(fontawesome);
  }
}
</script>

<style lang="scss">
@import "@assets/styles/presets.scss";
</style>
