<template>
  <div class="pageMessage" style="color:darkorange;">
    <h1>
      <i class="fas fa-exclamation-triangle"></i>
      404 Not found!
      <i class="fas fa-exclamation-triangle"></i>
    </h1>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

@Component<NotFoundPage>({})
export default class NotFoundPage extends Vue {}
</script>
