<template>
  <div class="account-picker">
    <div class="accounts">
      <img src="" alt="account" />
      <img src="" alt="account" />
      <img src="" alt="account" />
    </div>
    <div @click="addAccount">
      <i class="fas fa-plus-circle add-account"></i>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

@Component<AccountPicker>({})
export default class AccountPicker extends Vue {
  private addAccount() {
    this.$emit("openDialog");
  }
}
</script>

<style lang="scss" scoped>
.account-picker {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}

img {
  margin: 5% 0;
}

img:hover {
  background-color: var(--background8);
  box-shadow: 0 0 6px 2px var(--accent);
}

.add-account {
  font-size: 35px;
  cursor: pointer;
}

.add-account:hover {
  border-radius: 50%;
  box-shadow: 0 0 6px 2px var(--accent);
}
</style>
