body {
  color: var(--text);
  background-color: var(--backupBackground);
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  background: url("https://drive.google.com/uc?export=view&id=13XCsHMzthS5XUvzcSsl3sSXKtX5P7fYT") no-repeat scroll center center / cover;
}

input {
  font-size: 1em;
  background-color: var(--background6);
  color: var(--text);
  border-radius: 10px;
  border: 1.5px solid var(--shapes);
  padding-left: 8px;
  resize: none;
}

input:hover {
  box-shadow: 0 0 6px 1px var(--accent);
}

input:focus {
  outline: 0;
  box-shadow: 0 0 4px 0 var(--accent);
}

::placeholder {
  color: var(--accent);
}

a {
  color: var(--text);
  text-decoration: none;
  cursor: pointer;
}

button {
  color: var(--text);
  background-color: var(--background4);
  border: 1px solid var(--shapes);
  padding: 6px 10px;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  box-shadow: 0 0 4px 1px var(--accent);
}

button:focus {
  outline: 0;
}

button:active {
  outline: 0;
  background-color: var(--accent);
  box-shadow: 0 0 8px 1px var(--accent);
}